<img src="/images/thailand.jpg" class="img-fluid" alt="Thailand photo" />
<form
	class="container card-img-overlay card text-dark bg-light mb-3 mt-5"
	style="width: 18rem; height: 23rem;" href="/auth/login" method="post" 
>
	<div class="container mb-2">
		<a href="/">
				<img src="/images/logo-airbnb.png" ></a>
	</div>
	<div class="mb-3">
		<label for="email" class="form-label">Email</label>
		<input type="email" class="form-control" name="email" />
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input type="password" class="form-control" name="password" />
	</div>
	<button class="btn btn-success">Login</button>
	<div>
		<p class="mt-3">
			<small class="text">New in Airbnb </small>
			<a class="card-link" href="/auth/signup">Signup</a>
		</p>
	</div>
</form>
