<div class="container">
{{>nav}}
</div>
<!-- here is the part of the grid whit the image and next images -->
<div class="container">
	<!-- here is the fisrt part with the image -->
	<div class="row row-cols-2">
		<div>
			<img
				src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
				class="card-img"
				alt="..."
			/>
		</div>
		<!-- here is the part with the cards -->

		<div class="row row-cols-3">
			<div class="col">
				<div>
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_01.png"
						class="card-img-top"
						alt="..."
					/>
				</div>
			</div>
			<div class="col">
				<div>
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295026/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_02.png"
						class="card-img-top"
						alt="..."
					/>
				</div>
			</div>
			<div class="col">
				<div>
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_03.png"
						class="card-img-top"
						alt="..."
					/>
				</div>
			</div>
			<div class="col">
				<div class="mt-3">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_04.png"
						class="card-img-top"
						alt="..."
					/>
				</div>
			</div>
			<div class="col">
				<div class="mt-3">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_05.png"
						class="card-img-top"
						alt="..."
					/>
				</div>
			</div>
			<div class="col">
				<div class="mt-3">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_06.png"
						class="card-img-top"
						alt="..."
					/>
				</div>
			</div>
			<div class="col">
				<div class="mt-3">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_07.png"
						class="card-img-top"
						alt="..."
					/>
				</div>
			</div>
			<div class="col">
				<div class="mt-3">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_08.png"
						class="card-img-top"
						alt="..."
					/>
				</div>
			</div>
			<div class="col">
				<div class="mt-3">
					<img
						src="https://res.cloudinary.com/dsko6ntfj/image/upload/v1640295019/portal/web%20development%20beginners/05%20Project%20Airbnb/house%2001/house_01_09.png"
						class="card-img-top"
						alt="..."
					/>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- here is part with the review and the card with price and coments -->
<div class="container">
	<div class="row">
		<div class="col-8">
			<div class="card border border-white">
				<div class="card-body">
					<h4 class="card-title">House Name</h4>
					<p class="card-subtitle mb-2 text-muted">Ubication</p>
					<div>
						<a>Name User</a>
					</div>
					<div>
						<p class="card-text mb-4 ">
							Description of the house: A house is a single-unit residential
							building. ... Most conventional modern houses in Western
							cultures will contain one or more bedrooms and bathrooms, a
							kitchen or cooking area, and a living room. A house may have a
							separate dining room, or the eating area may be integrated
							into another room
						</p>
					</div>
					<div>
						<div class="mb-3 pt4">
							<h4 class="card-title">Review</h4>
							<label class="form-label mb-0">Leave a review</label>
							<textarea
								class="form-control"
								id="exampleFormControlTextarea1"
								rows="3"
							></textarea>
						</div>
						<div>
							<div>
								<button type="button" class="btn btn-outline-success">
									like
								</button>
								<button type="button" class="btn btn-outline-danger">
									no like
								</button>
							</div>
						</div>
					</div>
					<div class="mt-3">
						<button type="submit" class="btn btn-success">
							Submit
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-4 mt-4">
			<div class="shadow p-3 mb-5 bg-body rounded">
				<div>
					<h6 class="card-title ps-2 mt-2 ">$350/night</h6>
				</div>
				<div class="card-subtitle ps-2 ">0 Review</div>
				<div class="pt-2">
					<textarea
						class="form-control form-comtrol-sm"
						placeholder="Send the host a message..."
						style="height: 100px"
					></textarea>
				</div>
				<div class="pt-3">
					<button type="submit" class="btn btn-success btn-sm">
						Request Booking
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
